



.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.jumbotron{
    text-shadow: 1px 8px 3px blue;
    text-align:center;
    color: red;
    font-family: 'Bungee Shade', cursive;
    background-image: url(masters.jpg);
    background-position-y: -150px;
}


#serviceTitle{
    text-shadow: 1px 8px 3px blue;
    text-align:center;
    color: red;
    font-family: 'Bungee Shade', cursive;
    
    
}



#painting{
    font-family: 'Bungee Shade', cursive;
    color: red;
    font-size: 30px;
}

.navbar{
    background-color: blue;
}

#paintDesc{
    font-family: 'Cinzel', serif;
    color: blue;
    font-size: 38px;
}

#autoDesc{
    font-family: 'Cinzel', serif;
    color: blue;
    font-size: 40px;
}








