body{
    background-color: blue;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.jumbotron{
    text-shadow: 1px 8px 3px blue;
    text-align:center;
    color: red;
    font-family: 'Bungee Shade', cursive;
    background-image: url(masters.jpg);
    background-position-y: -150px;
}


#serviceTitle{
    text-shadow: 1px 8px 3px blue;
    text-align:center;
    color: red;
    font-family: 'Bungee Shade', cursive;
    
    
}



.centered{
    font-family: 'Bungee Shade', cursive;
    color: red;
    font-size: 30px;
}



.navbar{
    background-color: blue;
}

#paintDesc{
    font-family: 'Cinzel', serif;
    color: gray;
    font-size: 30px;
}

#autoDesc{
    font-family: 'Cinzel', serif;
    color: gray;
    font-size: 30px;
}

#tuneupDesc{
    font-family: 'Cinzel', serif;
    color: gray;
    font-size: 30px;
}

#brakesDesc{
    font-family: 'Cinzel', serif;
    color: gray;
    font-size: 30px;
}

#tiresDesc{
    font-family: 'Cinzel', serif;
    color: gray;
    font-size: 30px;
}

#contNav{
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 20px;
}

a{
    color: gray;
    
}

#back2Top{
    font-size: 20px;
}







